@keyframes spin
    0%
        transform: rotateY(0deg)

    100%
        transform: rotateY(360deg)


@keyframes glow
    0%
        opacity: 0
        fill: $c-secondary
        transform: translateX(0)
    
    5%
        opacity: 1
        transform: translateX(0)

    75%
        opacity: 1

    100%
        opacity: 0
        fill: $c-primary
        transform: translateX(-15px)