$rams: 'rams', arial, sans-serif;

// Rams Black
@font-face {
    font-family: 'rams';
    src: url('fonts/rams_black-webfont.eot');
    src: url('fonts/rams_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rams_black-webfont.woff2') format('woff2'),
         url('fonts/rams_black-webfont.woff') format('woff'),
         url('fonts/rams_black-webfont.ttf') format('truetype'),
         url('fonts/rams_black-webfont.svg#ramsblack') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'rams';
    src: url('fonts/rams_black_italic-webfont.eot');
    src: url('fonts/rams_black_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rams_black_italic-webfont.woff2') format('woff2'),
         url('fonts/rams_black_italic-webfont.woff') format('woff'),
         url('fonts/rams_black_italic-webfont.ttf') format('truetype'),
         url('fonts/rams_black_italic-webfont.svg#ramsblack_italic') format('svg');
    font-weight: 900;
    font-style: italic;
}



// Rams Bold
@font-face {
    font-family: 'rams';
    src: url('fonts/rams_bold-webfont.eot');
    src: url('fonts/rams_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rams_bold-webfont.woff2') format('woff2'),
         url('fonts/rams_bold-webfont.woff') format('woff'),
         url('fonts/rams_bold-webfont.ttf') format('truetype'),
         url('fonts/rams_bold-webfont.svg#ramsbold') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'rams';
    src: url('fonts/rams_bold_italic-webfont.eot');
    src: url('fonts/rams_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rams_bold_italic-webfont.woff2') format('woff2'),
         url('fonts/rams_bold_italic-webfont.woff') format('woff'),
         url('fonts/rams_bold_italic-webfont.ttf') format('truetype'),
         url('fonts/rams_bold_italic-webfont.svg#ramsbold_italic') format('svg');
    font-weight: 700;
    font-style: italic;
}



// Rams regular
@font-face {
    font-family: 'rams';
    src: url('fonts/rams-webfont.eot');
    src: url('fonts/rams-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rams-webfont.woff2') format('woff2'),
         url('fonts/rams-webfont.woff') format('woff'),
         url('fonts/rams-webfont.ttf') format('truetype'),
         url('fonts/rams-webfont.svg#ramsregular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'rams';
    src: url('fonts/rams_italic-webfont.eot');
    src: url('fonts/rams_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rams_italic-webfont.woff2') format('woff2'),
         url('fonts/rams_italic-webfont.woff') format('woff'),
         url('fonts/rams_italic-webfont.ttf') format('truetype'),
         url('fonts/rams_italic-webfont.svg#ramsitalic') format('svg');
    font-weight: 400;
    font-style: italic;
}



// Rams light
@font-face {
    font-family: 'rams';
    src: url('fonts/rams_lt-webfont.eot');
    src: url('fonts/rams_lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rams_lt-webfont.woff2') format('woff2'),
         url('fonts/rams_lt-webfont.woff') format('woff'),
         url('fonts/rams_lt-webfont.ttf') format('truetype'),
         url('fonts/rams_lt-webfont.svg#ramslight') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'rams';
    src: url('fonts/rams_lt_italic-webfont.eot');
    src: url('fonts/rams_lt_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rams_lt_italic-webfont.woff2') format('woff2'),
         url('fonts/rams_lt_italic-webfont.woff') format('woff'),
         url('fonts/rams_lt_italic-webfont.ttf') format('truetype'),
         url('fonts/rams_lt_italic-webfont.svg#ramslight_italic') format('svg');
    font-weight: 100;
    font-style: italic;
}