html
    background: $black

body
    background: $black
    color: $white

*
    font-family: $rams

.curtain
    display: block
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: $black
    z-index: 9999
    perspective: 250px
    perspective-origin: center
    +elem('logo')
        position: absolute
        top: 50%
        left: 50%
        margin: -50px 0 0 -50px
        width: 100px
        height: auto
        transform-style: preserve-3d
        animation: spin 1s infinite


/* MAIN CONTAINER */
.main
    padding: 55px
    background:
        size: cover
        position: center
        repeat: no-repeat
    width: 100%
    height: 100vh
    overflow-x: hidden
    @media (max-width: $btb)
        padding: 28px
    @media (max-width: $phb)
        min-height: 100vh
        height: 100vh
    @media (max-width: $bmb)
        padding: 15px

    +elem('wrapper')
        position: relative
        display: block
        width: 100%
        height: 100%
    +mod('content')
        padding: 62px 102px
        @media (max-width: $btb)
            padding: 62px
        @media (max-width: $tb)
            padding: 30px
        @media (max-width: $phb)
            padding: 30px 15px
            height: auto


/* TEXT STYLES */
h1, h2, h3, h4, h5, h6,
p, span, a
    color: $white

h1
    font-size: 45px
    font-weight: 900
    text-transform: uppercase
    @media (max-width: $lt)
        font-size: 38px
    @media (max-width: $slt)
        font-size: 30px
    @media (max-width: $bmb)
        font-size: 20px

h2
    font-size: 35px
    font-weight: 500
    @media (max-width: $lt)
        font-size: 28px
    @media (max-width: $slt)
        font-size: 22px
    @media (max-width: $bmb)
        font-size: 20px

h3
    font-size: 26px
    font-weight: 900
    text-transform: uppercase
    @media (max-width: $lt)
        font-size: 21px
    @media (max-width: $slt)
        font-size: 16px

h4
    font-size: 20px
    text-transform: uppercase
    font-weight: 500

h5
    font-size: 16px
    font-weight: 100

p
    font-size: 16px
    font-weight: 400

.small
    color: $grey
    font-size: 12px
    font-weight: 400