$inputBorder: 1px solid #FFF

.gform_body
    position: relative
    margin-top: -110px
    margin-bottom: -14px
    .gform_fields
        white-space: normal

        .material-input-container
            width: 100%
            label
                color: $grey
                font-size: 16px
                font-weight: 400
                bottom: 5px
                .gfield_required
                    display: none

            +mod('textarea')
                textarea
                    border: $inputBorder !important
                    padding-left: 10px !important
                    padding-top: 8px !important
                label
                    top: 23px
                    left: 3px
                    padding: 1px 7px
                    background: rgba($black, 0)

                &.material_input_opened
                    label
                        background: rgba($black, 1)
                        
            
            &.material_input_focused
                label
                    color: $c-primary
                input, textarea
                    border-color: $c-primary !important




        input, textarea
            background: none
            width: 100%
            height: 31px
            font-size: 16px
            font-weight: 300
            padding: 0 !important
            border-color: #FFF
            color: #FFF
            transition: border-color 0.1s linear


    .gf_left_half
        padding-right: 25px !important
    .gf_right_half
        padding-right: 0 !important
        padding-left: 25px !important        

    
    .form__hidden_label
        > label
            display: none !important

    .columned
        ul.gfield_checkbox
            column-count: 3
            @media (max-width: $phb)
                column-count: 2
            @media (max-width: 400px)
                column-count: 1

    .gsection.gsection.gsection.gsection.gsection.gsection
        padding: 0 !important
        margin: 60px 0 12px 0 !important
        border: none !important
        text-transform: uppercase
        font-size: 26px
        font-weight: 900
        @media (max-width: $phb)
            margin: 44px 0 0 0 !important
            .gsection_title
                margin: 0 !important
                line-height: 19px

    ul.gfield_checkbox
        > li[class^="gchoice"]
            margin-bottom: 16px
            label, input
                display: inline-block
                margin: 0 !important
                @media (min-width: $btb + 1)
                    line-height: 19px

            input
                vertical-align: middle
            
            label
                vertical-align: text-top
                font-weight: 100 !important
                margin-left: 5px !important
                font-size: 16px

            @media (max-width: $phb)
                margin-bottom: 12px


    .form_block
        margin-bottom: 60px
        padding: 0 !important
        @media (max-width: $phb)
            margin-bottom: 44px

.gform_footer
    position: relative
    padding: 0 !important
    margin: 0 !important

.gform_button
    @extend .big-button
    float: right

.gfield
    &.sms_phone_number
        .material-input-container
            width: auto
            display: inline-block
            input
                width: 100% !important

        .ginput_container
            &:before
                content: 'Entrez votre : '
                position: relative
                display: inline-block
                vertical-align: middle
                margin-right: 10px
                color: $c-primary
                font-weight: 400
                font-size: 16px
                bottom: 3px
        .instruction
            display: none

    &.gf_right_half,
    &.gf_left_half
        width: 50% !important
        max-width: none !important
        @media (max-width: 640px)
            width: 100% !important
            padding: 0 !important
            margin-top: 20px
    @media (max-width: $phb)
        &.form__hidden_label
            margin: 0 !important
        .ginput_container_textarea
            margin: 0 !important



.gsection_title.gsection_title.gsection_title.gsection_title
    font-size: 26px
    font-weight: 900
    @media (max-width: $lt)
        font-size: 28px
    @media (max-width: $slt)
        font-size: 22px
    @media (max-width: $phb)
        font-size: 19px
        margin-bottom: 12px !important
    @media (max-width: $bmb)
        font-size: 16px

.gform_button
    width: auto !important
    min-height: 1px !important
    line-height: 1 !important
    @media (max-width: $phb)
        float: none


// ERROR HANDLING
.validation_error
    display: none

.gform_validation_error
    .gfield
        border: none !important
        background-color: initial !important
        margin: 0 !important
        position: relative
        padding-top: 0 !important
        .ginput_container
            margin-top: 8px !important

    .gfield_error
        background: initial

        input, textarea
            border: none !important

        input
            border-bottom: $inputBorder !important
            border-color: $red !important
        textarea
            border: $inputBorder !important

    .gfield_description
        padding-top: 5px !important
        position: absolute
        color: $red !important
        font-weight: 300 !important
        @media (max-width: $phb)
            padding-top: 0 !important
    
    .material-input-container
        &.material_input_focused
            input, textarea
                border-color: $c-primary !important