// BEM mixins
// Allows comma syntax to select multiple elements from the same block.
/* Exemple:
	.card
		+elem('title', 'subtitle')

	will output:
		.card__title, .card__subtitle

=elem($el, $others...)
	$selectors: '&__#{ $el }'

	@if length($others) > 0
		@for $i from 1 through length($others)
			$selectors: join($selectors, '&__#{ nth($others, $i) }', comma)

	#{$selectors}
		@content


=mod($mod, $others...)
	$selectors: '&--#{ $mod }'

	@if length($others) > 0
		@for $i from 1 through length($others)
			$selectors: join($selectors, '&--#{ nth($others, $i) }', comma)

	#{$selectors}
		@content


// Basics styles
=noListStyle()
	list-style: none
	padding: 0
	margin: 0