.pgetitle
    margin-bottom: 74px

    +elem('main')
        display: table
        font-size: 30px
        margin-top: 0
        &:after
            content: ''
            margin-top: 6px
            position: relative
            display: block
            width: 100%
            height: 3px
            background: $gradient
        @media (max-width: $bmb)
            font-size: 20px

    +elem('sub')
        margin-top: 8px
        font-size: 22px
        @media (max-width: $bmb)
            font-size: 20px


    @media (max-width: $phb)
        margin-bottom: 44px