// From bordered_button() PHP function
.bordered_button
    position: relative
    display: inline-block
    appearance: none
    border: none
    height: auto
    width: auto
    padding: 0
    line-height: 1
    text-transform: uppercase
    overflow: hidden
    outline: none
    cursor: pointer
    min-width: 125px
    text-align: center
    background:
        color: $c-primary
        image: $gradient

    +elem('label')
        display: block
        padding: 8px 27px
        font-size: 14px
        line-height: 16px
        color: $white
        margin: 2px
        background: $black
        transition: background-color 0.1s linear, color 0.1s linear

    &:hover, &:focus
        .bordered_button__label
            background: rgba($black, 0.8)
    &:active
        .bordered_button__label
            border: 2px solid $black
            background: transparent
            padding: 6px 25px
            color: $black


// From arrow_button() PHP function
.arrow_button
    @extend .small
    color: $c-primary
    display: inline-block
    position: relative
    appearance: none
    background: none
    border: none
    outline: none
    padding: 0
    &:hover
        .arrow_button__icon
            transform: scale(1.3)
        .arrow_button__title
            transform: translateX(4px)

    +elem('icon')
        display: inline-block
        margin-right: 6px
        transform: scale(1)
        transition: transform 0.25s $cubic
    
    +elem('icon', 'title')
        display: inline-block
        vertical-align: middle
        transform: translateX(0)
        transition: transform 0.25s $cubic