$card_padding: 24px

.card
    position: relative
    display: inline-block
    font-size: 0
    overflow: hidden
    &.liked
        .card__likebtn
            .bordered_button__label
                border: none
                background: transparent
                padding: 6px 25px
                color: #FFF
            &:hover
                transform: none

        .card__liked
            opacity: 1
            transition: all 0.3s cubic-bezier(0, .55, .1, 1.15)
            transform: translateY(0%) translateX(0%)

    +elem('liked')
        position: absolute
        width: 166px
        height: 166px
        border-radius: 100%
        margin: -83px 0 0 -83px
        top: 0
        left: 0
        z-index: 1
        background: $c-secondary
        opacity: 0
        will-change: transform, opacity
        transition: all 0.25s ease-in
        transform: translateY(-50%) translateX(-50%)
        transform-origin: left top
        @media (max-width: $slt)
            width: 88px
            height: 88px
            margin: -44px 0 0 -44px

    +elem('liked-icon')
        position: absolute
        bottom: 30px
        right: 30px
        width: 38px
        height: 38px
        fill: #FFF
        z-index: 2
        @media (max-width: $slt)
            bottom: 15px
            right: 15px
            width: 24px
            height: 24px


    +elem('wrapper')
        display: inline-flex
        position: relative
        width: 100%
        height: 225px
        background: $c-tertiary
        > div
            width: 50%
    
    +elem('pic')
        background:
            size: cover
            position: center

    +elem('body')
        position: relative
        padding: 24px 0 24px 24px
        *
            color: $c-primary
        &:after
            content: ''
            position: absolute
            display: block
            top: 50%
            right: 100%
            margin-top: -12px
            width: 0
            height: 0
            border-style: solid
            border-width: 12px 12px 12px 0
            border-color: transparent $c-tertiary transparent transparent
        @media (max-width: $lt)
            padding: 18px 0 18px 18px
        @media (max-width: $slt)
            padding: 12px


    +elem('title', 'subtitle')
        margin: 0

    +elem('subtitle')
        color: $black

    +elem('likebtn')
        display: block
        width: 100%
        height: 48px
        .bordered_button__label
            line-height: 28px

    +elem('callto')
        position: absolute
        bottom: $card_padding
        left: $card_padding
        @media (max-width: $slt)
            left: 12px
            bottom: 12px