.burger
    position: relative
    width: 40px
    height: 30px
    cursor: pointer
    z-index: 2
    
    +elem('bar')
        position: absolute
        width: 100%
        height: 2px
        background: #FFF
        transform: rotate(0) translateY(0) translateX(0)
        opacity: 1
        transition: all 0.25s $cubic
        
        +mod('top')
            top: 0
        +mod('mid')
            top: 50%
            margin-top: -1px
        +mod('btm')
            bottom: 0

    &--opened
        .burger
            +elem('bar')
                +mod('top')
                    transform: rotate(45deg) translateY(50%)
                +mod('mid')
                    transform: translateX(100%)
                    opacity: 0
                +mod('btm')
                    transform: rotate(-45deg) translateY(-50%)