.artlist
    display: table
    height: 100vh

    +elem('wrapper')
        display: flex
        flex-direction: column
        min-height: 100%
        height: auto

    +elem('form')
        display: flex
        flex-direction: column
        width: 100%
        height: 100%
        flex: 1
        +clearfix()

    +elem('card-list')
        +noListStyle()
        +clearfix()
        margin-bottom: 40px
        font-size: 0

    +elem('card-item')
        display: inline-block
        width: 32%
        float: left
        margin-right: 2%
        margin-bottom: 2%
        &:nth-child(3n - 0)
            margin-right: 0
        .card
            width: 100%
            .card__wrapper
                height: 12vw
            .card__subtitle
                font-size: 14px
        @media (max-width: $bs_md)
            width: 48%
            margin-right: 4%
            margin-bottom: 4%
            &:nth-child(3n - 0)
                margin-right: 4%
            &:nth-child(2n - 0)
                margin-right: 0
            .card
                width: 100%
                .card__wrapper
                    height: 18vw

        @media (max-width: 650px)
            width: 100%
            margin-right: 0
            margin-bottom: 30px
            .card
                width: 100%
                .card__body
                    padding: 24px
                .card__wrapper
                    height: 40vw
                .card__title
                    font-size: 24px

        @media (max-width: 500px)
            .card
                .card__body
                    padding: 18px
                .card__title
                    font-size: 19px

        @media (max-width: $bmb)
            .card
                .card__body
                    padding: 12px
                .card__title
                    font-size: 16px



    +elem('checkbox')
        position: absolute
        opacity: 0
        top: 0
        left: 0
        z-index: 0

    +elem('submit')
        align-self: flex-end
        margin-top: auto
        @media (max-width: 650px)
            position: relative
            bottom: auto
            right: auto
            margin-top: 14px