.front
    background: $gradient
    height: 100vh

    +elem('wrapper')
        padding: 75px
        position: relative
        width: 100%
        height: 100%
        overflow: hidden
        @media (max-width: $slt)
            padding: 52px
        @media (max-width: 768px)
            padding: 17px
        @media (max-width: 768px) and (orientation: landscape)
            min-height: 400px

    +elem('title-container')
        display: block
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background:
            image: url('img/bg_accueil--desktop.jpg')
            size: cover
            repeat: repeat-y
            position: -45px center
            color: $black
        @media (max-width: 1024px)
            background:
                image: url('img/bg_accueil.jpg')
                position: center
                position: -35px center
        @media (max-width: 500px)
            background:
                image: url('img/bg_accueil--mobile.jpg')
                position: center
                position: -15px center

    +elem('title-wrapper')
        position: absolute
        width: 104%
        top: 50%
        left: 50%
        padding-top: 60px
        text-align: center
        transform: translate(-50%, -50%)
        @media (max-width: $tb)
            width: 102%

    +elem('title')
        position: relative
        width: 100%
        display: block
        height: 14vw
        &--mobile
            display: none
        @media (max-width: $tb)
            display: none
            &--mobile
                display: block
                height: auto

    +elem('subtitle')
        font-family: $rams
        text-align: center
        padding: 0 40px
        @media (max-width: 768px)
            padding: 0 15px
            font-size: 26px
        @media (max-width: $bmb)
            font-size: 20px
            padding: 0 10px


    +elem('logo')
        position: relative
        width: 570px
        height: 128px
        z-index: 1
        @media (max-width: $dt)
            width: 400px
            height: 90px
        @media (max-width: $lt)
            width: 304px
            height: 68px
        @media (max-width: $phb),
        (max-width: 768px) and (orientation: landscape)
            width: 179px
            height: 40px

    +elem('navbtn')
        position: absolute
        bottom: 75px
        right: 75px
        &--mobile
            display: none
        @media (max-width: $slt)
            bottom: 52px
            right: 52px
        @media (max-width: 768px)
            display: none
            &--mobile
                position: relative
                display: inline-block
                bottom: auto
                right: auto
                top: auto
                left: auto
                transform: none

body.page-template-front-page:not(.home)
    .front

        .big-button
            min-width: 1px

body.browser-no-supports__mix-blend-mode
    .front
        +elem('title')
            display: none
            +mod('IE')
                display: block