.header
    position: fixed
    top: 0
    left: 0
    width: 100%
    background: #000
    z-index: 10
    
    +elem('wrapper')
        position: relative
        padding: 18px 55px
        display: flex
        justify-content: space-between
        align-items: center
        height: 100%
        width: 100%

    +elem('logo-container')
        width: 45px
        height: 45px

    +elem('logo')
        display: block
        width: 100%
        height: 100%

    +elem('menu-container')
        position: fixed
        top: 0
        right: 0
        height: 100vh
        width: 400px
        background: #F44336
        transform: translateX(100%)
        transition: all 0.25s $cubic
        z-index: 12
        &:before
            content: ''
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 81px
            background: #303030
            transition: all 0.5s $cubic

    +elem('menu-wrapper')
        position: relative
        width: 100%
        height: 100%

    +elem('burger-container')
        position: relative
        will-change: transform
        transform: translateY(0)
        transition: all 0.5s $cubic
        z-index: 14


    // Opened state
    +mod('menu-opened')
        .header
            +elem('menu-container')
                transform: translateX(0)

            +elem('burger')
                .burger
                    +elem('bar')
                        +mod('top')
                            transform: translateY(14px) rotate(45deg)
                        +mod('mid')
                            transform: translateX(100%)
                            opacity: 0
                        +mod('btm')
                            transform: translateY(-14px) rotate(-45deg)

    &.sub-opened
        .header
            &__burger-container, &__menu-container:before
                transform: translateY(-70px)