.menu, .sub-menu
    +noListStyle
    padding: 120px 40px

.menu
    &-item
        margin-bottom: 15px
        a
            display: block
            position: relative
            padding: 15px
            &:hover
                color: $grey
                text-decoration: none

        &.menu-item-has-children
            > a
                &:after
                    content: '+'
                    position: absolute
                    top: 50%
                    right: 15px
                    color: currentColor
                    transform: translateY(-50%)

            &.sub-opened
                .sub-menu      
                    transform: translateX(0)
                    transition-delay: 0.3s


.sub-menu
    position: absolute
    top: 0
    right: 0
    width: 100%
    height: 100%
    background: #000
    transform: translateX(100%)
    transition: all 0.25s $cubic
    transition-delay: 0s
    z-index: 1