.main-form
    min-height: 100vh
    height: auto

    +elem('post-content')
        > pre
            overflow: hidden

    +elem('autoscroll')
        @media (max-width: $btb)
            left: -24px
        @media (max-width: $tb)
            display: none !important


    .material-input-container
        input, textarea
            border-radius: 0 !important
            box-shadow: none !important