.big-button
    position: relative
    display: inline-block
    appearance: none
    border: none
    height: auto
    width: auto
    padding: 16px 27px
    line-height: 16px
    text-decoration: none
    text-transform: uppercase
    outline: none
    background: $c-primary
    color: $white
    min-width: 150px
    text-align: center
    cursor: pointer
    font-size: 14px
    border-radius: 0 !important
    transform: translateY(0)
    transition: all 0.1s linear, transform 0.4s $cubic
    &:hover
        text-decoration: none
        background: $white
        color: $c-primary
        transform: translateY(-7px)

    &:disabled
        opacity: 0.5
        pointer-events: none



.autoscroll
    position: fixed
    left: 0px
    bottom: 130px
    display: inline-block
    transform: rotate(-90deg)
    text-decoration: none !important

    +elem('title')
        font-size: 14px
        letter-spacing: 2px
        font-weight: 100
        color: #FFF
        display: inline-block
        vertical-align: middle
        margin-left: 6px

    +elem('icon')
        display: inline-block
        vertical-align: middle
        width: 20px
        height: 16px
        fill: #FFF
        animation: glow 1s infinite